.LanguageSwitcher {
  display: flex;
  width: 60px;
  height: 60px;
  padding: 0px 18px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 999px;
}

.LanguageModal {
  display: flex;
  flex-direction: column;
  position: absolute;
  border-radius: 10px;
  background: #fff;
  padding: 20px;
  gap: 20px;
  left: 10px;
}

.LanguageModal button {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  display: flex;
  justify-content: start;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
